/** 
  * mch-carousel.less
  *
  * © 2015-2016 Roberto Giuntoli [rg@mesmerizedchild.eu] 
  * More information at https://github.com/mesmerizedchild/mch-carousel/blob/master/README.md
  *
  * Core styles [in some case: Required styles] for MCh Carousel.
  * This file should be included at the beginning of your LESS files,
  *   before any MCh Carousel themes.
  * 
  * Typical usage in a LESS file:
  *
  * @import 'mch-carousel.less';
  * @import 'mch-carousel-height.less';
  * @import 'mch-carousel-basic-theme.less'; // If you want to use a theme
  *
  * #some-carousel-id, .or-some-carousel-class {
  *     // See mch-carousel.less for notes on setting the carousel's height
  *     .mch-viewport-height({ height: 560px });
  *     // Now, the customisations for the speficic theme/instance 
  *     #mch-buttons-pane {
  *         max-width: 800px;
  *     }
  * }
  * #some-other-carousel-id, .or-some-other-carousel-class {
  *     // See mch-carousel.less for notes on setting the carousel's height
  *     .mch-viewport-height({ height: 483px });
  *     // Other customisations for the speficic theme/instance 
  *     .mch-button-background {
  *         background-color: black;
  *     }
  * }
  *
  * The following eliminates conflicts with other CSS elements [although all selectors
  *   in this LESS file begin with 'mch' and, as such, name conflicts are
  *   unlikely]:
  * 
  * #some-carousel-id, .or-some-carousel-class {
  *     @import 'mch-carousel.less'; // No possibility of selector name conflicts,
  *                                  //   as all element in this import will be
  *                                  //   "qualified" with the carousel ID or class. 
  *     // See mch-carousel.less for notes on setting the carousel's height
  *     .mch-viewport-height({ height: 560px });
  *     #mch-buttons-pane {
  *         max-width: 800px;
  *     }
  * }
  *
  */

#mch-visible-carousel {
    position: relative; /* Not indispensable, but it won't hurt... */
}

#mch-image-list {
  /* Must stay hidden, as this is *not* what the carousel will display */
  display: none !important;
}

#mch-viewport {
  /* Relative position for #mch-scrollable-viewport */
  position: relative;
  /* Display below the buttons [if they happen to overlay the viewport] */
  z-index: 0; 
  /* Hide the scrollbar in #mch-scrollable-viewport */
  overflow: hidden;
}

#mch-scrollable-viewport {
  /* Embedded spaces must take no room */
  font-size: 0px !important; 
  /* Ensure images don't wrap due to embedded whitespaces */
  white-space: nowrap !important;
  /* Make it scrollable, then #mch-viewport hides the scrollbar */
  overflow-x: scroll;
  /* overflow-y should not be necessary, but just in case... */
  overflow-y: hidden;
  /* Position so that #mch-scrollable-viewport extends over all of #mch-viewport... */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -50px; /* ... and a bit beyond */
}

.mch-padding {
  display: inline-block !important;
  height: 0;
}

.mch-image-container {
  /* For anchoring the caption within each image */
  position: relative; 
  /* Without this, the carousel would flow vertically... */
  display: inline-block !important;
  /* Ensure that .css('width') includes image padding, if any. */
  box-sizing: border-box !important;
  img {
    height: 100%;
    width: auto;
    z-index: 0;
    max-width: none;
    margin: 0 !important; /* Use padding if you need spacing between images. */
  }
}

.mch-caption-cntnr {
  position: relative;
  z-index: 1;
}

.mch-caption-background {
  position: relative;
  z-index: 2;
}

.mch-caption-lines {
  /* position is needed in case of completely-opaque caption lines
        over partially-opaque or transparent caption background.
     It may be overridden by the theme */
  position: relative;
  z-index: 3;
}

.mch-button {
    position: relative;
  /* Above the viewport [if they overlap it], by default */
  z-index: 1;
  .mch-button-background {
    position: relative;
    z-index: 0;
  } 
  .mch-button-graphics {
    /* position is needed in case of completely-opaque button caption/graphics
         over partially-opaque or transparent button background, and for
         correct handling of mouse hovering.
       It may be overridden by the theme */
    position: relative;
    z-index: 1;
  }
}

/* Helper class for hiding elements when not hovering over an image */
.mch-no-hover {
  visibility: hidden;
}

/* Helper class for hiding elements that must not be displayed */
.mch-invisible {
  display: none;
}
